.name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin: auto;
  // margin-left: 32px;
  // margin-right: 32px;
}

.bike-image {
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  // margin-left: 32px;
  // margin-right: 32px;
}

.name-price h3 {
  margin-top: 96px;
}

.bike-name-big {
  color: $bblue;
}

.bike-price-big {
  color: $ggrey;
}

.bike-show-image {
  width: 100%;
  border-radius: 24px;
}

.blue-bg {
  background-color: $lblue;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 48px;
}

.bike-information {
  color: $ggrey;
  margin: auto;
  padding: 0px;
  // margin-left: 32px;
  // margin-right: 32px;
}

.user-image-bio {
  display: flex;
  align-items: center;
}

.bike-user-info {
  padding-left: 0px;
}

.about-owner {
  padding-left: 16px;
}

.about-owner p {
  margin-bottom: 0px;
}

.name-address {
  display: flex;
}

.name-address p {
  margin-bottom: 0px;
}

.bike-name-small {
  font-weight: bolder;
}

.bike-address-small {
  text-decoration: underline;
}

// DATE SELECTOR

.date-selector {
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

// REVIEWS SECTION

.review-container {
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 48px;
}

.review-header h3 {
  margin-top: 48px;
  color: $bblue;
}

.bike-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.review-tile {
  display: flex;
  padding-left: 0px;
}

.review-name-date-stars {
  display: flex;
  justify-content: space-between;
}

.review-name-date {
  display: flex;
}

.review-content {
  padding-left: 16px;
  width: 100%;
  p {
    margin-bottom: 0px;
  }
}

.review-stars {
  color: $orange;
  i {
    padding-right: 4px;
  }
}
