.dashboard-div {
  margin: auto;
  padding-top: 96px;
  display: flex;
  width: 75vw;
  h3 {
    color: $bblue;
  }
}

.bikes-toggle {
  display: flex;
  padding-left: 2px;
  p {
    padding-right: 8px;
  }
}

.remove-bike-button {
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
  color: $rred;
}

.my-bikes-card {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  // align-items: center;
}

.bike-card-subhead {
    margin-bottom: 0px;
    text-decoration: underline;
}

.total-price-div {
  display: flex;
  justify-content: space-between;
}

.my-bookings-card {
  // padding-top: 16px;
  // padding-left: 16px;
  // padding-right: 16px;
  display: flex;
  position: relative;
  margin-bottom: 24px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  // align-items: center;
}

.bike-user-photo {
  position: absolute;
  top: 8px;
  left: 8px;
}

.booker-user-photo {
  display: flex;
  align-items: center;
  // position: absolute;
  // top: 8px;
  // left: 8px;
}

.booked-by-text {
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
  padding-left: 8px;
}

.bike-db-image {
  border-radius: 16px 0px 0px 16px;
}

.bookings-toggle {
  display: flex;
  padding-left: 2px;
  p {
    padding-right: 8px;
  }
}

.bike-info-db {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 286px;
}

.bike-name-db {
  // font-weight: bolder;
  margin-bottom: 0px;
  // text-decoration: underline;
}

.bike-location-db {
  // margin-bottom: 0px;
  color: $ggrey;
}

.bike-dates-db {
  color: $ggrey;
}

.bike-price-db {
  // margin-bottom: 0px;
  font-weight: bolder;
  color: $ggrey;
}

.bike-dayprice-db {
  margin-bottom: 0px;
  font-weight: bolder;
  color: $ggrey;
}

.bike-booking-status {
  // position: absolute;
  // right: 8px;
  // bottom: 20px;
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
}

.book-again-button {
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
  color: $ggrey;
}

.book-again-review {
  display: flex;
  justify-content: space-between;
}

.bike-status-declined {
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
  color: $rred;
  padding-right: 8px;
  padding-top: 3px;
}

.bike-status-accepted {
  margin-bottom: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: smaller;
  color: $ggreen;
  padding-right: 8px;
}

.my-bikes-all {
  display: initial;
}

.my-bikes-all.disabled {
  display: none;
}

.my-bikes-bookings {
  display: none;
}

.my-bikes-bookings.active {
  display: initial;
}



.my-bookings-upcoming {
  display: initial;
}

.my-bookings-upcoming.disabled {
  display: none;
}

.my-bookings-past {
  display: none;
}

.my-bookings-past.active {
  display: initial;
}

.delete-declined-booking {
  display: flex;
  justify-content: space-between;
}

.fa-trash-alt {
  color: $rred;
}
