<div id="navbar">
  <div class="navbar-container">
  <%= link_to "BIKEABOUT", root_path, class: "logo-type" %>

  <div class="login-signup">
    <div>
      <%= link_to "Sign Up", new_user_registration_path, class: "sign-up-button"  %>
    </div>
    <div>
      <%= link_to "Login", new_user_session_path, class: "log-in-button"  %>
    </div>
  </div>
  </div>
</div>


