<div class="bike-results-div">
  <div class="bike-results">
    <h3> Found <%= @bikes.count %> bikes</h3>
    <div class="filter-buttons">
      <p>Filter by:</p>
      <div class="price-button"> Price </div>
      <div class="category-button"> Category </div>
    </div>
  </div>
  <div class="bikes-map">

  </div>
</div>
