button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.price-button {
  color: $ggrey;
  border: 1px solid $ggrey;
  background-color: white;
  border-radius: 24px;
  height: 24px;
  width: 64px;
  // padding: 8px 16px;
  margin-left: 8px;
  text-align: center;
}

.category-button {
  color: $ggrey;
  border: 1px solid $ggrey;
  background-color: white;
  border-radius: 24px;
  height: 24px;
  width: 96px;
  // padding: 0px 16px;
  margin-left: 8px;
  text-align: center;
}

.booking-button {
  color: white;
  background-color: $bblue;
  border-radius: 16px;
  width: 100%;
  height: 48px;
  border-style: none;
  &:hover {
    opacity: 90%;
  }
}

.login-to-book-button {
  background-color: $bblue;
  border-radius: 16px;
  width: 100%;
  height: 48px;
  border-style: none;
  text-align: center;
  a {
      color: white;
  }
  &:hover {
    opacity: 80%;
  }
}


.all-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}

.all-button.disabled {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  color: $ggrey;
  font-weight: normal;
  text-decoration: none;
}



.bookings-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  color: $ggrey;
}

.bookings-button.active {
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}



.upcoming-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}

.upcoming-button.disabled {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  color: $ggrey;
  font-weight: normal;
  text-decoration: none;
}



.past-button {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin-right: 8px;
    margin-bottom: 16px;
    color: $ggrey;
}

.past-button.active {
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}



.photo-upload-button {
  color: $bblue;
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
  height: 48px;
  border: 1px solid $bblue;
  padding-top: 12px;
  p {
    text-align: center;
  }
}

.create-bike-button {
  color: white;
  background-color: $bblue;
  border-radius: 16px;
  width: 100%;
  height: 48px;
  border-style: none;
  margin-bottom: 8px;
}

.forgot-password {
  color: $bblue;
}


